%html
  %h1 questions.haml
  %ul
    %li
      Which javascript libraries do I need to run the React demos?

    %li
      What does browser.js do?

    %li
      The syntax: ReactDOM.render(p1, p2); is what kind of syntax?

    %li
      Is p1 usually a string?

    %li
      Is p2 a JavaScript call?

    %li
      What are 2 ways I can use jQuery to simulate the React-Hello-World demo?

    %li
      What are 2 ways I can use D3.js to simulate the React-Hello-World demo?

    %li
      When I call ReactDOM.render(p1, p2), which React-call can I make to create p1?

    %li
      When I call React.createClass(p3), how might I create p3?

    %li
      What is a property of p3 which I might set?

    %li
      When I call React.createClass(p3) can it place HTML in the DOM for me?

    %li
      When I call React.createClass(p3) what is the name of the object which gets created?

    %li
      Suppose I create DanDiv from React.createClass(p4). How do I nest DanDiv inside a later call to React.createClass(p5)?

    %li
      Suppose I create DanDiv from React.createClass(p4) and place DanDiv inside of BigDiv, what phrase describes what I am doing?

    %li
      Whats the difference between an HTML component and a component?

    %li
      How can a child component get data from a parent component?

    %li
      In JS I can pass a paramter to a function call by placing the parameter inside parenthesis.  In JSX how to pass a parameter to a component call?

    %li
      In JS when I define a function I can specify that it take a parameter and then I can get the value of the parameter later.  When I define a component, How do I define a parameter in a component definition and how do I get a value out of each parameter later?

    %li
      When I define a simple component which can accept a text-node as a parameter, how do I refer to the value of the text-node?

    %li
      When I define a simple component which can accept an href-attribute as a parameter, how do I refer to the value of the href-attribute?

    %li
      How to serve the marked.js lib to my browser?

    %li
      How to assume a string is in markedown format and then convert the markedown syntax into HTML?

    %li
      Will React allow me to render HTML I get from a call to marked()?

    %li
      What does it mean to 'sanitize' HTML?

    %li
      What kind of syntax is inside un-sanitary HTML?

    %li
      How to install React Developer Tools in Firefox?

    %li
      How to use React Developer Tools in Firefox?

    %li
      How to use inspect a component using React Developer Tools in Firefox?

    %li
      How to pass an array of data to a component?

    %li
      Look at demo20.html and describe how mydata flows to urdata.

    %li
      How does a component get data?

    %li
      How does a component set data?

    %li
      Can JSX syntax 'see' an array which was set via JavaScript earlier?
